.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* nav style */

nav{
    display: flex;
}

.textprimari{
    color: #FD6E0A;
}

.title{
    font-weight: 800;
    font-size: 45px;
}