.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
  }
  .section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
  } 

  .section-description{
    font-size: 18px;
    font-weight: normal;
    color: #757575;
  }

/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 200px;
}
/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.textprimari{
    color: #FD6E0A;
}

.dark-2{
    color: #474747
}

.title{
    font-weight: 800;
    font-size: 45px;
}

nav li {
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul {
    display: flex;
    align-items: center;
}


/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 37px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.description{
    font-weight: normal;
    font-size: 18px;
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
  }

.banner-pic{
    width: 580px;
}
/* section style */

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
  } 

  .section-description{
    font-size: 18px;
    font-weight: normal;
    color: #757575;
  }

  /* main style */
 .main{
    max-width: 1140px;
    margin: 0 auto;
  }
  main section{
    margin: 130px;
  }

  /* about style */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
  }
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skills section style */
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section style */
.resume-container{
    display: flex;
    gap: 28px;
}

.experience-description, .experience-sub-title{
    color: #757575;
    /* font-size: 20px; */
    /* font-weight: 600; */
    margin-bottom: 20px;
}
 .resume-column-title, .experience-title{
    color: #474747;
 }

.section-title{
    color: #181818;
    text-align: center;
}

.resume-download-button{
    text-align: center;
    margin: 45px;
}
/* footer style */

.footer-title{
    display: flex;
    gap: 100px;
    padding: 130px 230px;
}
.footer-peragraph{
    margin-top: 50px;
}

footer input[type="text"]{
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border: none;
}